.link-box {
    min-width: 50%;
    padding: 10px;
    max-width: 1080px;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 1000px;
    text-align: center;
    margin: 20px auto;
    font-size: 100px;
    display: block;
    align-items: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.no-link {
    text-decoration: none;
    color: white;
}

html {
    background-color: black;
}

body {
    position: relative;
    min-height: 100vh;
    display: block;
    padding: 20px;
}

.main-page {
    padding-bottom: 3.5rem;
}

.about-me {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 50%;
    max-width: 1080px;
    height: auto;
    text-align: center;
    margin: 20px auto;
    font-size: 100px;
    align-items: center;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.about {
    margin: auto;
}

.info {
    font-size: 20px;
}

.pfp {
    width: 40%;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 1000px;
}

.footer {
    min-width: 50%;
    max-width: 1080px;
    height: auto;
    margin: auto;
    display: block;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 0;
    min-width: 50%;
    max-width: 750px;
    height: 3.5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.youtube {
    background-color: rgba(255, 0, 0, 1);   
}

.twitch {
    background-color: rgba(100, 65, 165, 1);
    font-weight: 600;
    -webkit-text-stroke: 5px black;
    text-shadow: -10px 10px 0 black, -9px 9px 0 black, -8px 8px 0 black, -7px 7px 0 black, -6px 6px 0 black, -5px 5px 0 black, -4px 4px 0 black, -3px 3px 0 black;
}

.discord {
    background-color: rgba(114, 137, 218 , 1);
}

.snapchat {
    background-color: rgba(255, 252, 0, 1);
    -webkit-text-stroke: 3px black;
    font-weight: 600;
    text-shadow: none;
}

.tiktok {
    background-color: rgba(0, 0, 0, 1);
    text-shadow: -3px -3px 0 rgba(37, 244, 238), 3px 3px 0 rgba(254, 44, 85, 1);
}

.smule {
    background-image: linear-gradient(to bottom left, rgba(50, 84, 181, 1), rgba(228, 41, 136, 1));
}

.instagram {
    background-image: linear-gradient(to right,
    #833ab4,#fd1d1d,#fcb045);
}

.steam {
    background-image: linear-gradient(10deg, #66c0f4, #2a475e, #1b2838, #171a21);
}

.email {
    background-image: linear-gradient(0deg, #19d6fc, #1e62f1);
}