.link-box {
    padding: 10px;
    max-width: 750px;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    font-size: 60px;
}
.no-link {
    text-decoration: none;
    color: black;
}